--extra-index-url https://download.pytorch.org/whl/cu121

torch==2.2.2+cu121
torchvision==0.17.2+cu121
torchaudio==2.2.2+cu121

ultralytics==8.2.3          # pulls the 'yolo' CLI
opencv-python-headless==4.10.0.82
pytube==15.0.0
ffmpeg-python==0.2.0
streamlit==1.33.0
tqdm==4.66.4
